<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.repository.GoodsRepository">
	
	<resultMap type="Goods" id="goods">
		<id property="id" column="good_ID"/>
		<result property="name" column="good_NAME"/>
		<result property="type" column="good_TYPE"/>
		<result property="size" column="good_SIZE"/>
		<result property="value" column="good_VALUE"/>
	</resultMap> 	
	
	<select id="findByName" resultMap="goods">
		select
			s.good_ID,
			s.good_NAME,
			s.good_TYPE,
			s.good_SIZE,
			s.good_VALUE
		from
			wms_goods s
		where
			s.good_NAME like concat('%',#{param3},'%')
		order by 
		    s.good_ID limit #{param1},#{param2}
	</select>
	
	<select id="findBy_Name" resultMap="goods">
		select
			s.good_ID,
			s.good_NAME,
			s.good_TYPE,
			s.good_SIZE,
			s.good_VALUE
		from
			wms_goods s
		where
			s.good_NAME like concat('%',#{param1},'%')
	</select>
	
	<select id="findById" resultMap="goods">
		select
			s.good_ID,
			s.good_NAME,
			s.good_TYPE,
			s.good_SIZE,
			s.good_VALUE
		from
			wms_goods s
		where
			s.good_ID = #{param3}
		order by 
		     s.good_ID limit #{param1},#{param2}
	</select>
	
	<select id="find_ById" resultMap="goods">
		select
			s.good_ID,
			s.good_NAME,
			s.good_TYPE,
			s.good_SIZE,
			s.good_VALUE
		from
			wms_goods s
		where
			s.good_ID = #{id}
		
	</select>
	
	 <select id="findAll" resultMap="goods">
		 select
			s.good_ID,
			s.good_NAME,
			s.good_TYPE,
			s.good_SIZE,
			s.good_VALUE
		from
			wms_goods s
		order by 
		    s.good_ID limit #{param1},#{param2}
	</select>
	 <select id="find_All" resultMap="goods">
		 select
			s.good_ID,
			s.good_NAME,
			s.good_TYPE,
			s.good_SIZE,
			s.good_VALUE
		from
			wms_goods s
	</select>
	
	<select id="count" resultType="int">
		select count(*) from wms_goods;
	</select>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into wms_goods(good_NAME,good_TYPE,good_SIZE,good_VALUE)
		values(#{name},#{type},#{size},#{value})
	</insert>
	
	<update id="update">
		update 
			wms_goods
		set
			good_NAME = #{name},
			good_TYPE = #{type},
			good_SIZE = #{size},
			good_VALUE = #{value}
		where
		    good_ID = #{id}
	</update>
	
	<delete id="deleteById">
		delete from wms_goods
		where good_ID = #{id}
	</delete>
	
	
	
 </mapper>